* {
  margin: 0px;
  padding: 0px;
}

#root {
  position: relative;
  background-color: black;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.bands {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.band {
  height: 100%;
  width: 100%;
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.squares * {
  transform: rotate(45deg);
  position: absolute;
}

.ring {
  border-radius: 50%;
  transform: scale(0.4, 0.4) translateX(150px);
  border: 10vh solid;
}
